* {
    margin: 0;
    padding: 0;
}

html,body,.container {
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #FAFAFA;
}


.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #FAFAFA;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

.logo-container {
    background-color: #EDECEB;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header {
    grid-column: 2 / 3;
}

.dummy-card {
    grid-column: 2 / 3;
}