* {
    margin: 0;
    padding: 0;
}

html,body,.container {
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.logo-container {
    background-color: #230C63;
    padding: 25px;
}


.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #5693F6;
}

.header {
    grid-column: 2 / 3;
}

.dummy-card {
    grid-column: 2 / 3;
}